body {
  margin: 0; /* Remove default body margin */
  overflow: hidden; /* Prevent body overflow */
}

.container {
  display: grid;
  grid-gap: 10px; /* Adjust gap between images as desired */
  height: 100vh; /* Set container height to 100% viewport height */
}

.box {
  overflow: hidden; /* Prevent images from overflowing container */
  /* Add display: flex; to center forms within boxes */
  display: flex;
  justify-content: center;
  align-items: center;
}

.box img, .box label {
  object-fit: contain; /* Maintain aspect ratio and fit within container */
  width: 100%; /* Images fill container width */
  height: 100%; /* Images fill container height */
}

.back-link {
  position: absolute; /* Position back link absolutely */
  top: 10px; /* Adjust link position as desired */
  left: 10px; /* Adjust link position as desired */
  z-index: 1; /* Ensure link is on top of images */
  padding: 5px 10px; /* Add padding to link */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make link stand out */
}

/* Media Queries for Responsive Layout */

@media screen and (orientation: portrait) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (orientation: landscape) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}
