<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="container">
            <div class="box">
                <a href="/" class="back-link">Back</a>
                <label for="image1">
                    <img id="image1" src="{{ prefix + img1 }}" alt="Image 1" onclick="document.getElementById('form1').submit();">
                    <!--img id="image1" src="/static/images/N3169N3166Final1024.jpg" alt="Image 1" onclick="document.getElementById('form1').submit();"-->
                </label>
                <form id="form1" action="/choice" method="post">
                    <input type="hidden" name="first" value="{{ img1 }}" readonly>
                    <input type="hidden" name="second" value="{{ img2 }}" readonly>
                    <input type="hidden" name="timestamp" value="{{ timestamp }}" readonly>
                </form>
            </div>
            <div class="box">
                <label for="image2">
                    <img id="image2" src="{{ prefix + img2 }}" alt="Image 2" onclick="document.getElementById('form2').submit();">
                    <!--img id="image2" src="/static/images/M78_Euclid_960.jpg" alt="Image 2" onclick="document.getElementById('form2').submit();"-->
                </label>
                <form id="form2" action="/choice" method="post" style="in">
                    <input type="hidden" name="first" value="{{ img2 }}" readonly>
                    <input type="hidden" name="second" value="{{ img1 }}" readonly>
                    <input type="hidden" name="timestamp" value="{{ timestamp }}" readonly>
                </form>
            </div>
        </div>
        <script src="/static/script.js"></script>
    </body>
</html>
